<style>
    *, *:before, *:after {box-sizing:  border-box !important;}


    .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 

    }

    .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
    }
    #panelheder{
        background-color:grey;
        background-color:black;
        background-clip: content-box;

        color:white;
        clear:both;
        text-align:center;
        padding:5px; 
    }
    #panelbody{
        background-color:White;
        //background-clip: content-box;

        color:black;
        clear:both;
        text-align:left;
        padding:5px; 
    }
    #panelfooter{
        background-color:white;
        background-clip: content-box;

        color:black;
        clear:both;
        text-align:left;
        padding:5px; 

    }
    #newsfeeds{
        width: 80%;
        margin-left: 50px;
    }
</style>
<div id="newsfeeds" class="left">
    <div >        

        {%if app.user != null %}
            <div id="addNewsfeed" style="text-align:right;">
                <a href="{{path('_newsfeed_add')}}">
                    <button type="button" class="btn btn-primary">Add</button>
                </a>
            </div>
        {%endif%} 
        {% for nf in newsfeeds %}
            <div class="panel panel-default">
                <div class="panel-heading" id="panelheder" style="padding:0px;">{{nf.tile}}</div>
                <div class="panel-body" id="panelbody">
                    {{nf.text}}
                </div>
                <div class="panel-footer" id="panelfooter">
                    <div style="float:left;">
                        <a href="/users/view?id={{nf.idOwner.idUserHash}}">{{nf.idOwner.username}}</a>
                        <span>on {{nf.date|date('d.m.Y')}}</span><br/>
                        In <a href="{{path('_newsfeeds')}}?categoryId={{nf.idCategories.idCategoriesHash}}">{{nf.idCategories.name}}</a>
                        <br/><br/>
                        {%include 'CustomerBundle:Shares:share_twitter.html.twig'  with {'url': app.request.uri~'?id='~nf.idNewsfeedHash}%}
                    </div>
                    <div style="float:right;">
                        {%if app.user != null and nf.idOwner.idUser == app.user.idUser %}
                            <a href="{{path('_newsfeed_edit')}}?id={{ nf.idNewsfeedHash }}">
                                <button type="button" class="btn btn-primary">Edit</button>
                            </a>
                            <a href="{{path('_newsfeed_delete')}}?id={{ nf.idNewsfeedHash }}">
                                <button type="button" class="btn btn-primary">Delete</button>
                            </a>
                        {%endif%}                        
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        {% endfor %}        
    </div>
</div>