<style>
    *, *:before, *:after {box-sizing:  border-box !important;}


    .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 

    }

    .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
    }

    .well {
        position:relative;
        display: block;
    }

    #shoes{
        width: 80%;
        margin-left: 50px;
    }
    .shoeName{
        color: #428bca;
    }
    .shoeYear{
        color:grey;
    }
    .shoePrice{
        color: darkred;
    }
</style>
<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "{{ asset('images/')}}shoe.jpg";
        image.width = 150;
        return true;
    }
</script>
<div id="shoes" class="left">
    <div >        
        {% for nf in newsfeeds %}
            <div class="panel panel-default">
                <div class>{{nf.idNewsfeedHash}}</div>    
                <div class>{{nf.idOwner.username}}</div>    
                <div class>{{nf.date|date('d.m.Y')}}</div>    
                <div class>{{nf.tile}}</div>  
                <div class>{{nf.text}}</div>  
            </div>
        {% endfor %}        
    </div>
</div>