{% extends "base.html.twig" %}
{% block body %}


    {% block navigation %}
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <a class="brand" href="{{path('_home')}}">Sport Star Shoe portal</a>
                        <ul id="navigation" class="nav">
                            {% block navigation_items %}
                                <li id="nav_home" class="active">
                                    <a href="{{path('_home')}}"> Home</a>
                                </li>
                                <li id="nav_shoes">
                                    <a href="{{path('_shoes')}}">Shoes</a>
                                </li>
                            {% endblock %}
                        </ul>            
                        <ul class="nav pull-right">
                            {% if app.user == null%}
                                <li><a href="{{path('_login')}}">Login</a></li>
                                <li><a href="{{path('_register')}}">Sign up</a></li>
                                {% else %}
                                <li><a href="{{path('_user')}}?id={{app.user.idUserHash}}">Hello, {{app.user.username}}!</a></li>
                                <li><a href="{{path('_logout')}}">Logout</a></li>
                                {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block header %}{% endblock %}
{% block content_container %}
    <div id="content-container">
        <div id="content">&nbsp;
            {% block content %}
            {% endblock %}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
{% block footer %}   
    <div id="footer">
        <span style="margin-left:15px">(c) All rights server by Octagon team</span>
    </div>
{% endblock %}

{% endblock %}

