<style>
    *, *:before, *:after {box-sizing:  border-box !important;}


    .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 

    }

    .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
    }

    .well {
        position:relative;
        display: block;
    }

    #shoes{
        width: 80%;
        margin-left: 50px;
    }
    .shoeName{
        color: #428bca;
    }
    .shoeYear{
        color:grey;
    }
    .shoePrice{
        color: darkred;
    }
</style>
<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "{{ asset('images/')}}shoe.jpg";
        image.width = 150;
        return true;
    }
</script>
<div id="shoes" class="left">
    <div class="row">
        {% for shoe in shoes %}
            <a href="/shoes/view?id={{shoe.idShoeHash}}">
                <div class="item">
                    <div class="well">
                        <div style="text-align: center;">
                            <img src="{{ asset('images/uploads/')}}{{shoe.fullFileName}}"  onerror="imgError(this);" alt="No shoe image"/><br/>
                        </div>
                        <br/>
                        <div class="tileText">
                            <p class="tileTextFirstRow">                
                                <span class="shoeName">{{shoe.name}}</span>
                                <span class="shoeYear">{{shoe.year}}</span><br/>
                            </p>
                            <div class="tileTextSecondRow">
                                <span class="shoePrice">{{shoe.price}} €</span>
                            </div>
                        </div>
                    </div>
                </div>        
            </a>
        {% endfor %}        
    </div>
</div>