{% extends "index.html.twig" %}
{% block title %}Shoes{% endblock%}
{% block javascripts %}
    <script src="{{ asset('js/star-rating.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/star-rating.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <script>
        navigation('nav_shoes');
    </script> 

    <div class="container-fluid">        
        <div class="col-lg-10">

            <div class="col-lg-2">
                {%if shoe != null %}
                    <img src="{{ asset('images/uploads/')}}{{shoe.fullFileName}}"  onerror="imgError(this);" alt="No shoe image"/>                                

                {%else%}
                    <a>image cannot be loaded</a>
                {%endif%}
                <br/><br/>
                {%if app.user != null and shoe.idOwner.idUser != app.user.idUser %}
                    <script>
                        $("#input-id").rating();
                    </script>
                    <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1" data-size="xs">
                    <br/>
                {%endif%} 
                {%include 'CustomerBundle:Shares:share_twitter.html.twig'  with {'text': shoe.name, 'url': app.request.uri}%}
                {%include 'CustomerBundle:Shares:share_facebook.html.twig'  with {'text': shoe.name, 'url': app.request.uri}%}
            </div>
            <div class="col-lg-8">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{shoe.name}} </td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>{{shoe.color}}</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>{{shoe.size}}</td>
                        </tr>  
                        <tr>
                            <th>Description</th>
                            <td>{{shoe.text}}</td>
                        </tr>
                        <tr>
                            <th>Brand</th>
                            <td>{{shoe.brand}}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>{{shoe.price}} €</td>
                        </tr>
                        <tr>
                            <th>Sport star</th>
                            <td>{{shoe.sportstar}}</td>
                        </tr>
                        <tr>
                            <th>Year</th>
                            <td>{{shoe.year}}</td>
                        </tr>
                        <tr>
                            <th>Edition</th>
                            <td>{{shoe.edition}}</td>
                        </tr>
                        <tr>
                            <th>Owner</th>
                            <td><a href="/users/view?id={{shoe.idOwner.idUserHash}}">{{shoe.idOwner.username}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
            </div>
        </div>
    </div>
    <div>

        {%if app.user != null%}
            {%if shoe.idOwner.idUser == app.user.idUser %}
                <a href="/shoes/edit?id={{shoe.idShoeHash}}">
                    <button type="button" class="btn btn-primary">
                        Edit
                    </button>
                </a>
            {%endif %}
            <a href="/shoes/add">
                <button type="button" class="btn btn-primary">
                    {%if shoe.idOwner.idUser == app.user.idUser %}
                        Add more
                    {%else%}
                        Add own shoe
                    {%endif%}
                </button>
            </a>
            {%if shoe.idOwner.idUser == app.user.idUser %}
                <a href="/shoes/delete?id={{shoe.idShoeHash}}">
                    <button type="button" class="btn btn-primary">
                        Delete
                    </button>
                </a>
            {%endif %}
        {%endif%}
    </div>
    {% include 'CustomerBundle:Comments:list.html.twig' with comments %} 
    {% include 'CustomerBundle:Comments:comments_add.html.twig' with {'shoeId':shoe.idShoeHash}%} 
{% endblock %}  


