{% extends "AdminBundle:Default:index_admin.html.twig" %}
{% block title %}Ratings{% endblock%}
{% block content %}
    <script>
        navigation('nav_ratings');
    </script> 
    <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
        <a href="{{ path('admin_rating_new') }}">
            Create a new entry
        </a>
    </button>
    <table class="table records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Value</th>
                <th>Target</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_rating_show', { 'id': entity.idRating }) }}">{{ entity.idRating }}</a></td>
                    <td>{{ entity.value }}</td>
                    {%if entity.idSeller != null %}
                        <td><a href="{{path('_user')}}?id={{entity.idSeller.idUserHash}}">{{ entity.idSeller.username }}</a></td>
                    {%elseif entity.idShoe != null%}
                    <td><a href="{{path('_shoe')}}?id={{entity.idShoe.idShoeHash}}">{{ entity.idShoe.name }}</a></td>
                    {%else%}
                        <td>no data</td>
                    {%endif%}
                    <td>
                        <div class="btn-group" role="group" style="color:white">
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);"> 
                                <a href="{{ path('admin_rating_show', { 'id': entity.idRating }) }}">show</a>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
                                <a href="{{ path('admin_rating_edit', { 'id': entity.idRating }) }}">edit</a>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
