<div id="categories">      
    <div class="list-group">

        {% for category in categories %}
            {%if categoryId != null and category.idCategoriesHash == categoryId%}
                <a class="list-group-item active" href="{{app.request.getBaseUrl}}?categoryId={{category.idCategoriesHash}}">{{category.name}}</a>
            {%else%}
                <a class="list-group-item" href="{{app.request.getBaseUrl}}?categoryId={{category.idCategoriesHash}}">{{category.name}}</a>
            {%endif%}
        {% endfor %}        
    </div>
</div>
