{% extends "AdminBundle:Default:index_admin.html.twig" %}
{% block title %}News Feeds{% endblock%}
{% block content %}
    <script>
        navigation('nav_newsfeeds');
    </script> 
    <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
        <a href="{{ path('admin_newsfeed_new') }}">
            Create a new entry
        </a>
    </button>
    <table class="table records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tile</th>
                <th>Text</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_newsfeed_show', { 'id': entity.idNewsfeed }) }}">{{ entity.idNewsfeed }}</a></td>
                    <td>{{ entity.tile }}</a></td>
                    <td>{{ entity.text }}</td>
                    <td>{% if entity.date %}{{ entity.date|date('d.m.Y') }}{% endif %}</td>

                    <td>
                        <div class="btn-group" role="group" style="color:white">
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);"> 
                                <a href="{{ path('admin_newsfeed_show', { 'id': entity.idNewsfeed }) }}">show</a>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
                                <a href="{{ path('admin_newsfeed_edit', { 'id': entity.idNewsfeed }) }}">edit</a>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
