{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Newsfeed</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Tile</th>
                <td>{{ entity.tile }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Idnewsfeed</th>
                <td>{{ entity.idNewsfeed }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_newsfeed') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_newsfeed_edit', { 'id': entity.idNewsfeed }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
