{% extends "AdminBundle:Default:index_admin.html.twig" %}
{% block title %}News feed{% endblock%}
{% block content %}
    <script>
        navigation('nav_newsfeeds');
    </script> 

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);"> 
            <a href="{{ path('admin_newsfeed') }}">
                Back to the list
            </a>
        </button>
        <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
            <a href="{{ path('admin_newsfeed_edit', { 'id': entity.idNewsfeed }) }}">
                Edit
            </a>
        </button>
        <div>
            {{ form(delete_form) }}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.idNewsfeed }}</td>
            </tr>
            <tr>
                <th>Tile</th>
                <td>{{ entity.tile }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.idCategories.name }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
