{% extends "index.html.twig" %}
{% block title %}Welcome{% endblock%}
{% block header %} <!-- Carousel -->


    <div class="new_html_code">
        <div id="myCarousel1" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{asset('images/carusel/4.jpg')}}" alt="" height="200px">
                </div>
                <div class="item">
                    <img src="{{asset('images/carusel/2.jpg')}}" alt="">
                </div>
                <div class="item">
                    <img src="{{asset('images/carusel/3.jpg')}}" alt="">
                </div>
                <div class="item">
                    <img src="{{asset('images/carusel/1.jpg')}}" alt="">
                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel1" data-slide="prev" style="background-image:none" height="300px" width="600">‹</a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next" style="background-image:none" height="300px" width="600">›</a>
        </div>
        <script>
            !function ($) {
                $(function () {
                    $('#myCarousel1').carousel();
                    $('#nav_home').carousel();
                });
                navigation('nav_home');
            }(window.jQuery);

        </script> <!-- /.carousel -->
    {% endblock %}

    {% block content_container %}        
        <div id="content-container-home">
            <div id="content-home">&nbsp;
                <div>
                    <div id="col1" class="col-md-6">
                        <h1>Shoes</h1>
                        {% include "CustomerBundle:Shoes:list.html.twig" with shoes %}
                        <a style="position: relative;top: -60px;" class="more" href="{{path('_shoes')}}">More</a>
                    </div>
                    <div id="col2" class="col-md-3">
                        <h1>News Feeds</h1>
                        {% include "CustomerBundle:Newsfeed:list.html.twig" with newsfeeds %}
                        <a class="more" href="{{path('_newsfeeds')}}">More</a>
                    </div>
                    <div class="col-md-3">
                        <h1>Statistics</h1>
                        {% include "CustomerBundle:Statistics:list.html.twig" with statistics %}
                        <a class="more" href="{{path('_statistics')}}">More</a>
                    </div>
                    <style>
                        .more{
                            float:right;
                            text-decoration: underline;                            
                        }
                        #shoes, #newsfeeds, #statistics{
                            width: 100%;
                            margin:0px;
                        }
                        #col1, #col2>div{
                            border-right: 1px solid darkgrey;
                        }
                        
                        #col2>div{
                            padding-right:10px;
                        }
                        #addNewsfeed{
                            display:none;
                        }
                    </style>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    {% endblock %}


