{% extends "index.html.twig" %}
{% block title %}user profile{% endblock%}
{% block javascripts %}
    <script src="{{ asset('js/star-rating.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/star-rating.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
    <script>
        navigation('nav_users');
    </script> 
    <div>
        {% include "CustomerBundle:Users:user_details.html.twig" %} 
        {%if app.user != null and user.idUser != app.user.idUser %}
            <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1" data-size="xs" value="3.3"/>
            <script>
                $("#input-1").rating({showClear:false});
                
                $('#input-1').on('rating.change', function (event, value, caption) {
                    $.ajax({url: '{{path('_rating_add')}}?sellerId={{user.idUserHash}}&value=' + value});
                });
            </script>
        {%endif%}
        <div id="lists">&nbsp;
            <div>
                <div id="col1" class="col-md-1">
                    {{render(controller('CustomerBundle:Categories:list', {'categoryId' : app.request.get('categoryId')})) }}
                </div>
                <div id="col2" class="col-md-6">
                    {% include 'CustomerBundle:Shoes:list.html.twig' with shoes %} 
                </div>
                <div class="col-md-3">
                    {% include 'CustomerBundle:Newsfeed:list.html.twig' with newsfeeds %} 
                </div>
                <style>
                    #shoes, #newsfeeds, #statistics{
                        width: 100%;
                        margin:0px;
                    }
                    #col1, #col2>div{
                        border-right: 1px solid darkgrey;
                    }

                    #col2>div{
                        padding-right:10px;
                    }
                    #addNewsfeed{
                        display:none;
                    }
                </style>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {% include 'CustomerBundle:Comments:list.html.twig' with comments %}
    {% include 'CustomerBundle:Comments:comments_add.html.twig' with {'sellerId':user.idUserHash}%} 
    
{% endblock %}  

