<div>User details</div>
<br/>
<div class="container">
    <div class="row">
        {%if user != null %}
            {%if app.user.avatar != null and app.user.fullFileName != null%}
                <img style="height: 100px;" src="{{ asset('images/uploads/')}}{{app.user.fullFileName}}"/>
            {%else%}
                <img style="height: 100px;" src="{{ asset('images/avatar.jpg')}}"/>
            {%endif%}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Username</th>
                        <td> {{user.username}}</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr> 
                    <tr>
                        <th>Avatar</th>
                        <td>{{ user.avatar }}</td>
                    </tr>  
                    <tr>
                        <th>Status of the Account</th>
                            {%if user.accountNonLocked == false%}
                            <td>Blocked</td>
                        {%else%}
                            <td>Active</td>
                        {%endif%}
                    </tr> 
                </tbody>
            </table>
            <br/>
            <div class="row">

                <a href="/users/edit?id={{ user.idUserHash }}">
                    <br/> <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </div>
        </div>
    {%else%}
        <span class="alert alert-danger" role="alert">Error</span>
    {%endif%}
</div>