<div class="container">
    <style>
        div.controls_row div{
            float:left;
            height: 30px;
        }
    </style>
    <div id="user_details">
        {%if user != null %}
            <div>
                {%if app.user.avatar != null and app.user.fullFileName != null%}
                    <img style="height: 100px;" src="{{ asset('images/uploads/')}}{{app.user.fullFileName}}"/>
                {%else%}
                    <img style="height: 100px;" src="{{ asset('images/avatar.jpg')}}"/>
                {%endif%}
            </div><br/><br/>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Username</th>
                        <td> {{user.username}}</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr>  
                    <tr>
                        <th>Status of the Account</th>
                        {%if user.accountNonLocked == false%}
                            <td>Blocked</td>
                        {%else%}
                            <td>Active</td>
                        {%endif%}
                    </tr> 
                </tbody>
            </table>
            <br/>
            <div class="controls_row">
                {%if app.user.idUser == user.idUser or true == app.user.admin %}
                    <div>
                        <a href="/users/edit?id={{ user.idUserHash }}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                {%endif%}
                {%if app.user != null %}
                    <div>
                        <a href="/shoes/add">
                            <button type="button" class="btn btn-primary">Add shoe</button>
                        </a>
                    </div>
                {%endif%}
                &nbsp;
                {%if true == app.user.admin %}
                    <div>
                        <form action="{{path('_block')}}" method="POST">
                            <input type="hidden" name="id" value="{{user.idUserHash}}"/>
                            <button type="submit"class="btn btn-primary" >Block User Until</button>
                            <input type="date" name="blocked" value="{{user.blocked|date("Y-m-d")}}" style="margin-bottom:0px"/>
                        </form>
                    </div>
                {%endif%}
            </div>
        </div>
    {%else%}
        <span class="alert alert-danger" role="alert">Error</span>
    {%endif%}
</div>