{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ entity.avatar }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{{ entity.admin }}</td>
            </tr>
            <tr>
                <th>Blocked</th>
                <td>{{ entity.blocked|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ entity.idUser }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_edit', { 'id': entity.idUser }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
