{% extends "AdminBundle:Default:index_admin.html.twig" %}
{% block title %}Comments{% endblock%}
{% block content %}
    <script>
        navigation('nav_comments');
    </script> 
    <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
        <a href="{{ path('admin_comments_new') }}">
            Create a new entry
        </a>
    </button>
    <table class="table records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Target</th>
                <th>Reported</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_comments_show', { 'id': entity.idComments }) }}">{{ entity.idComments }}</a></td>
                    <td>{{ entity.text }}</td>
                    {%if entity.idSeller != null %}
                        <td><a href="{{path('_user')}}?id={{entity.idSeller.idUserHash}}">{{ entity.idSeller.username }}</a></td>
                        {%elseif entity.idShoe != null%}
                        <td><a href="{{path('_shoe')}}?id={{entity.idShoe.idShoeHash}}">{{ entity.idShoe.name }}</a></td>
                        {%else%}
                        <td>no data</td>
                    {%endif%}
                    {%if entity.reported == 1%}
                        <td>Yes</td>
                    {%else%}
                        <td>No</td>
                    {%endif%}
                    <td>{% if entity.date %}{{ entity.date|date('d.m.Y') }}{% endif %}</td>
                    <td>
                        <div class="btn-group" role="group" style="color:white">
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);"> 
                                <a href="{{ path('admin_comments_show', { 'id': entity.idComments }) }}">show</a>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
                                <a href="{{ path('admin_comments_edit', { 'id': entity.idComments }) }}">edit</a>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
