{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Comments</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Text</th>
                <td>{{ entity.text }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Idcomments</th>
                <td>{{ entity.idComments }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_comments') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_comments_edit', { 'id': entity.idComments }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
