{% extends "AdminBundle:Default:index_admin.html.twig" %}
{% block title %}Statistics{% endblock%}
{% block content %}
    <script>
        navigation('nav_statistics');
    </script> 
    <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
        <a href="{{ path('admin_statistics_new') }}">
            Create a new entry
        </a>
    </button>
    <table class="table records_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tile</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_statistics_show', { 'id': entity.idStatistics }) }}">{{ entity.idStatistics }}</a></td>
                    <td>{{ entity.tile }}</td>
                    <td>{{ entity.text }}</td> 
                    <td>
                        <div class="btn-group" role="group" style="color:white">
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);"> 
                                <a href="{{ path('admin_statistics_show', { 'id': entity.idStatistics }) }}">show</a>
                            </button>
                            <button type="button" class="btn btn-primary" onclick="pushButtonInnerHref(this);">
                                <a href="{{ path('admin_statistics_edit', { 'id': entity.idStatistics }) }}">edit</a>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
