<style>
    *, *:before, *:after {box-sizing:  border-box !important;}


    .row {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap:1em; 

    }

    .item {
        display: inline-block;
        padding:  .25rem;
        width:  100%; 
    }
    #panelheder{
        background-color:black;
        background-clip: content-box;

        color:white;
        clear:both;
        text-align:center;
        padding:5px; 
    }
    #panelbody{
        background-color:white;
        background-clip: content-box;

        color:black;
        clear:both;
        text-align:left;
        padding:5px; 
    }
    #panelfooter{
        background-color:white;
        background-clip: content-box;

        color:black;
        clear:both;
        text-align:left;
        padding:5px; 

    }
    #newsfeeds{
        width: 80%;
        margin-left: 50px;
    }
</style>
<div id="newsfeeds" class="left">
    <div >       
        {% for s in statistics %}
            <div class="panel panel-default">
                <div class="panel-heading" id="panelheder" style="padding:0px;">{{s.tile}}</div>
                <div class="panel-body" id="panelbody">
                    {{s.text}}<br/>
                    In <a href="{{path('_statistics')}}?categoryId={{s.idCategories.idCategoriesHash}}">{{s.idCategories.name}}</a>
                    <br/><br/>
                    {%include 'CustomerBundle:Shares:share_twitter.html.twig'  with {'url': app.request.uri~'?id='~s.idStatisticsHash}%}
                    {%include 'CustomerBundle:Shares:share_facebook.html.twig'  with {'url':  app.request.uri~'?id='~s.idStatisticsHash}%}
                </div>
            </div>
        {% endfor %}        
    </div>

</div>

